.sectionCategories{
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  padding: 1em;
  margin: 0 auto;
}
.sectionCategories h3{
  background-color: #8b6c4d;
  border-radius: 0.5rem;
  padding: 1em;
}
.categories {
  display: flex;
  overflow-x:auto;
  gap: 1rem;
  font-size: 1.3rem;
  width: 50%;
}

@media (width < 480px){
  .categories {
    font-size: 0.8rem;
  }
  .sectionCategories h3{
    font-size: 0.8rem;
  }
}

@media (width > 575px){
  .sectionCategories{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.categoryItem {
  background-color: transparent;
  border: 2px solid #222;
  border-radius: 1em;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  color: #111;
  white-space: nowrap;
  flex-shrink: 0;
  transition: background-color 0.4s ease;
}

.categoryItem:focus {
  outline: none;
  box-shadow: none;
}

.categoryItemActivate{
    background-color: #8b6c4d;
    color: #fff;
    outline: none;
    border: none;
}

.categoryBtn {
  color: white;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
}

select {
  font-size: 1rem;
  border: none;
  border-radius: 0.5em;
  background-color: #111;
  padding: 1em;
  color: #fdeedf;
  cursor: pointer;
  outline: none;
  appearance: none;
}

option {
  background-color: red;
  color: #fdeedf;
  font-size: 1rem;
  padding: 1rem;
}

@media (width > 1000px){
  .categoryBtn{
    display: none;
  }
}